rojo_marvel = #d8232A

.Card
    background #C2AC37
    border 5px solid black
    border-radius .5em
    box-shadow 0 0 10px rgba(black,.5)
    cursor pointer
    padding .5em
    position relative
    width 170px
    
    // &-container
    //     background red
    //     backface-visibility visible
    //     transform rotateY(180deg)
        
    &-name
        color white
        text-transform uppercase
        margin 0 0 .5em 0
        font-size 1em
        overflow(ellipsis)
    
    &-image
        width  100%       

    &-description
        background white
        padding .5em
        font-size 12px
        margin-bottom .5em
        border 2px solid black
        
    &-attack
        background black
        color white
        font-size .7em
    &-backface
        backface-visibility hidden
        background-color rojo_marvel
        background-image url("../img/logo.jpg")
        background-size 100%
        background-repeat no-repeat
        background-position center
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        transform rotateY(180deg)
    &--antagonist
        .Card-container            
            backface-visibility hidden
            transform rotateY(180deg)
        .Card-backface
            transform rotateY(0)
    &--player
        &:hover
            transform translate3d(0,-50px,0)