div(class="Card "+clase)
	div.Card-container
		h2.Card-name
			| Wolverine
		img.Card-image(src="./img/wolverine.jpg", alt="Wolverine")
		div.Card-description
			| Wolverine es muy poderoso
		div.Card-attack
			| 500 puntos de ataque
	div.Card-backface