doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title
			| Marvel Card Game
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
	body
		.app-container
		script(type="text/javascript", src="js/app.js")