doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title
			| Marvel Card Game
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
	body		
		include ./components/Layout/template.jade		