doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title
			| Marvel Card Game
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
	body
		include ./components/Layout/template.jade
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript", src="js/util/marvel-api.js")
		script(type="text/javascript", src="js/app.js")