section.Layout
	h1
		| Marvel Card Game

	section.Layout-antagonist
		- clase = "Card--antagonist"
		each card in [1,2,3,4,5]
			include ../Card/template.jade

	section.Layout-main

		div.Layout-status
			each name in ["Ricardo","Pepito"]
				include ../Status/template.jade

		div.Layout-battle
			- clase = ""
			include ../Battle/template.jade

		div.Layout-phases
			- text = "OMG El ataque es muy poderoso y le bajaste 1000 puntos"
			include ../Phases/template.jade

	section.Layout-player
		- clase = "Card--player"
		each card in [1,2,3,4,5]
			include ../Card/template.jade