@import "nib"
@import "normalize.styl"
@import "../components/Card/estilos.styl"
@import "../components/Status/estilos.styl"
@import "../components/Phases/estilos.styl"
@import "../components/Battle/estilos.styl"


/*Mixin de nombre "test" para ponerle un borde a cada seccion*/
test(color= red)
    border 1px solid color
    box-sizing border-box
    
@import "../components/Layout/estilos.styl" 

body
    font-family Arial
    font-size 16px
    margin 0